/**
 * @Main css for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - Jiaur Rahman
 * @created_at  - 
 * @modified_by -
 */


 .navbar{
    padding: 20px 0px;
    background-color: #CE7777 !important;
 }



@media (min-width:992px ) {
    .dropdown-menu,
    .dropdown-menu.show {
       display: block !important;
       opacity: 0;
       visibility: hidden;
       transition: all .3s linear;
       transform: translateX(20px);
    }
   
    .dropdown:hover .dropdown-menu ,
    .dropdown:hover .dropdown-menu.show  {
       opacity: 1;
       visibility: visible;
       transform: translateX(0px);
    }
}






































